<div class="container-fluid vh-100 d-flex flex-column">
  <h3>
    OpenAPI Comparator
  </h3>
  <div class="row " style="height: 95%;">
    <div class="col-6 h-100 overflow-scroll" style="overflow-y: scroll;">
      <div>Selecione uma API do Open Finance:</div>
      <div class="mb-3">
        <select [(ngModel)]="opfSelectedAPI" (change)="loadLeftSwaggerView()" class="form-select">
          <option *ngFor="let api of openFinanceApis | sortByOrder:'apiName'" [ngValue]="api">{{ api.apiName }}
          </option>
        </select>
      </div>
      <div #left_swagger_ui></div>
    </div>
    <div class="col-6 h-100 overflow-scroll" style="overflow-y: scroll;">
      <div>Selecione uma API do Open Insurance:</div>
      <div class="mb-3">
        <select [(ngModel)]="opinSelectedAPI" (change)="loadRightSwaggerView($event)" class="form-select">
          <option *ngFor="let api of openInsuranceApis | sortByOrder:'name'" [ngValue]="api">{{ api.name }}</option>
        </select>
      </div>
      <div #right_swagger_ui></div>
    </div>
  </div>
</div>